.header {
  z-index: 1000;
  position:fixed;
  width:100%;
  background-image: url(../images/header_bg.png);
  background-size: 100% 100%;
}

.navbar-default {
  background: none;
  border: 0px;
  border-radius: 0px;
  * {
    color: white !important;
  }
}

.collapse.navbar-collapse {
  position: relative;
  height: 130px !important;
}

.collapse.navbar-collapse.in, .collapsing.navbar-collapse {
  position: relative;
  height: auto !important;
  border: none;
  box-shadow: none;
  .navbar-nav {
    position: static;
    margin: 50px 50px;
  }
}

.navbar-header {
  position: relative;
  width: 100%;
}

.navbar-brand {
  position: absolute;
  left: 250px;
  top: 30px;
  font-family: $headline-font;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
  margin: 0px !important;
  padding: 0px;
}

.navbar-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  height: auto;
}

.navbar-nav {
  position: absolute;
  left: 250px;
  top: 75px;
  li {
    padding: 0px;
    a {
      font-family: $headline-font;
      font-size: 25px;
      color: white;
      padding: 20px 0px;
      padding-right: 20px;
    }
  }

  li.active {
    background: none !important;
    a, a:focus {
      background: none !important;
      text-decoration: underline;

    }
  }

  li a:hover, li.active a, li a:active, li a.active {
    background: none;
    margin:0px;
    outline: none;
    color: white;
  }
}

@media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
  .collapse.navbar-collapse {
    height: 110px !important;
  }
  .navbar-logo {
    width: 120px;
  }
  .navbar-brand {
    left: 200px;
    font-size: 40px;
    line-height: 40px;
  }
  .navbar-nav {
    left: 200px;
    top: 55px;
    li {
      a {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-logo {
    top: 10px;
    left: 10px;
    width: 50px;
  }
  .header {
    background-image: none;
    background-color: $color-graz2;
  }
  .navbar-brand {
    left: 70px;
    top: 10px;
    right: 70px;
    font-size: 20px;
    line-height: 20px;
  }
}
