<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/slider-revolution/src/css/settings.css">
    <!-- endbuild -->
  </head>
  <body ng-app="graz2App">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="menuCtrl">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <img class="navbar-logo" src="images/logo.png" />
            <a class="navbar-brand" href="#/">Pfadfindergruppe Graz 2</a>
            <button type="button" class="navbar-toggle collapsed" ng-click="toggleMenu()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" ng-class="{'in': !isCollapsed}">
            <ul class="nav navbar-nav">
              <li class="active"><a ng-click="setPath('/')">Über Uns</a></li>
              <li><a ng-click="setPath('/news')">Neuigkeiten</a></li>
              <li><a ng-click="setPath('/term')">Termine</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div ng-view=""></div>

    <section id="footer">
        <a href="http://www.scout.org" target="_new">
          <img class="footer-image pull-right" src="/images/wosm_round_color.png" />
        </a>
        <a href="http://www.wagggs.org" target="_new">
          <img class="footer-image pull-right" src="/images/wagggs_round_color.png" />
        </a>
        <a href="http://pfadfinder.at" target="_new">
          <img class="footer-image pull-right" src="/images/ppoe-logo_ws_trans.png" />
        </a>
        <a href="http://www.pfadfinder-steiermark.at" target="_new">
          <img class="footer-image pull-left" src="/images/lv_logo.png" />
        </a>
        <div class="copyright"><p>2016 &copy; Pfadfindergruppe Graz 2 "St. Elisabeth" | Hilmteichstr. 79 | A-8010 Graz | ZVR 435358674 | Alle Rechte vorbehalten.<br/>
        <a href="#/intern/impressum">Impressum</a></p></div>
        <div class="clearfix"></div>
      </div>
    </section>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ipsum/dist/ipsum.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/waypoints/lib/noframework.waypoints.js"></script>
    <!-- endbower -->
    <script src="bower_components/sly/dist/sly.js"></script>
    <script src="bower_components/moment/locale/de-at.js"></script>
    <script src="bower_components/slider-revolution/src/js/jquery.themepunch.plugins.min.js"></script>
    <script src="bower_components/slider-revolution/src/js/jquery.themepunch.revolution.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/flexhelpers.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/revolution.js"></script>
        <script src="scripts/directives/fullheight.js"></script>
        <script src="scripts/services/democontent.js"></script>
        <script src="scripts/controllers/term.js"></script>
        <script src="scripts/controllers/news.js"></script>
        <!-- endbuild -->
</body>
</html>
